/**********************************/
/**********Tipografias*************/
/**********************************/
$light: ´rubik-light´;
$regular: ´rubik-regular´;
$medium: ´rubik-medium´;
$semibold: ´rubik-semibold´;
$bold: ´rubik-bold´;

/***********************************/
/*************Colores***************/
/***********************************/
$naranjaPrincipal: #fd7e14;
$naranjaSecundario: #FFA048;
$watsAppPrimario: #25d366;
$watsAppSecundario: #70dd98;
$tipografiaBoton: white;
$portadaColorTipografia: #FDFDFD;
$fondoColor: #E6E6E6;
$colorColumnCentral: #ffffff;
$altColorCentral: #F8F8F8;
$footerBackGround: #3A3A3A;

