@import "variables";

/***********************************************/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/***********************************************/
/*******************TIPOGRAFIA******************/
/***********************************************/
@font-face {
    font-family: ´rubik-regular´;
    src: url(../tipografias/static/Rubik-Regular.ttf);
}
@font-face {
    font-family: ´rubik-bold´;
    src: url(../tipografias/static/Rubik-Bold.ttf);
}
@font-face {
    font-family: ´rubik-semibold´;
    src: url(../tipografias/static/Rubik-SemiBold.ttf);
}
@font-face {
    font-family: ´rubik-light´;
    src: url(../tipografias/static/Rubik-Light.ttf);
}
@font-face {
    font-family: ´rubik-medium´;
    src: url(../tipografias/static/Rubik-Medium.ttf);
}

/***********************************************/
/**********************HEADER*******************/
/***********************************************/
/*poner en 0 padding de valores puestos por bootstrap*/ 
#header{
    padding-right: 0%;
    padding-left: 0%;
    .BtnContactoNav{
        background-color: $naranjaPrincipal;
        border-color: $naranjaPrincipal;   
            
        .textoBtnContactoNav{
            font-family: $medium;
            text-decoration: none;
            color: white;
        }
        &:hover{
            background-color: $naranjaSecundario;
            border-color: $naranjaSecundario;
        }
    }
}



#linkSpaces{
    font-family: $regular;
    color: black;
    font-size: 90%;
    padding-right: 2%;
    padding-left: 2%;
    &:hover{
        color: $naranjaPrincipal;
    }
}


/***********************************************/
/**********************TITULOS*******************/
/***********************************************/
h4,h5{
    font-family: $medium;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

/***********************************************/
/****************ASIDE WATSAPP******************/
/***********************************************/

.btnWatsapp img {
    background-color: $watsAppPrimario;
    border-radius: 60px;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    text-align: center; 
  
  &:hover {
    background-color: $watsAppSecundario; 
}
}
/***********************************************/
/******************PORTADA**********************/
/***********************************************/  
       
.portadaIndex{
    background-image: url(../img/portada/fotoPortada.svg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 690px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 6%;
        
    h1{
    font-family:$medium;
    text-align: left;
    justify-content: left;
    align-items: center;
    color: $portadaColorTipografia;
    padding-left: 18.5%;
    letter-spacing: 1px;
    }
    p{ 
        font-family: $regular;
        letter-spacing: 1px;
        color: $portadaColorTipografia;
        padding-left: 18.5%;
        
    }
    div{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%; 
    padding-left: 18.5%;
    
    }
    a{
        margin-top : 1%;
    }
    
    #botonSecundario {
        background-color: $naranjaPrincipal;
        border-color: $naranjaPrincipal;
        font-family: $regular;
        color: $tipografiaBoton; }
      
      #botonSecundario:hover {
        background-color: $naranjaSecundario;
        border-color: $naranjaSecundario;
    }
}
.colorH1{
    color: $naranjaPrincipal;
}
main{
    background-color: $fondoColor;
}
.centrar{
    display: flex;
    justify-content: center;
}
/**************************************************/
/*********Color y tamaño columna central***********/
/**************************************************/
.colorColumnCentral{
    background-color: $colorColumnCentral;
    width: 63%;
}
.altColorCentral{
    @extend.colorColumnCentral;
    background-color: $altColorCentral;
}

#queHacemos {  
    padding-bottom: 3%;
    h4{
        text-align: center; 
        padding-top: 5rem;       
    }
    p{
        text-align: justify;
            font-size: 1.1rem;
        }
    }
/***********************************************/
/************Seccion caracteristicas************/
/***********************************************/
#funcionalidades{ 
    background-color: $naranjaPrincipal;
    
.funcbox {
 
  padding-bottom: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    }
    h4 {
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;
        color: white;
      }
      .card {
        margin: 1rem 0.7rem;
        width: 14rem;
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 15px 5px $naranjaSecundario;
                box-shadow: 0px 0px 15px 5px $naranjaSecundario;
                h5 {
                    padding: 0 !important;
                    color: $naranjaPrincipal;
                    margin-top: -2rem;
                  }
                  p {
                    font-size: 0.9rem;
                    margin-top: 2rem;
                    text-align: center;
                    font-family: $regular;
                  }
      }
}
 



/*SECCION FUNCIONALIDADES*/

.ventajas {
    h4 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
    }
    .cardFunc{
        background-color: #ffffff;
        border-radius: 20px;    
        border: 2px solid $naranjaPrincipal;
        height: 310px;
        img {
            margin: 1rem auto;
            border-radius: 15px;    
         }
         .textoVentajas {
            .posicionTexto{
                text-align: right;
                margin-right: 0rem;
            }
          text-align: justify;
          ul{
              padding-left: 0%;
              text-align: left;
              margin-right: 2rem;
              li{
                  font-family: $regular;
                  list-style-type: none;
              }
              img{
                  padding-right: 5%;
                  margin: 0% 0%;
              }
              .checkList{
                  padding-right: 0%;
                  padding-left: 5%;
              }     
          }
        }
        h5 {
            color: $naranjaPrincipal;
            text-align: left;
            margin-right: 2rem;
            padding-top: 0rem;
            padding-bottom: 0.2rem;
          }
    }
}

/************************************/
/***********Utilidades***************/
/************************************/
.utilidades {
  text-align: center;
  .boxUtilidades{
      padding: 0% 3%;
      h4 {
        text-align: center;
        padding-top: 4rem;
        font-size: 1.5rem;
      }
      P{
        font-family: $regular;
      }
      .iconoUtilidades{
        margin-bottom: 3%;
    }
    .imgUtilidades{
        border: 2px solid $naranjaPrincipal;
        border-radius: 10%;
      }
  }
  
  
}



/* SECCION QUIENES SOMOS*/
#quienesSomos {
    background-color: $naranjaPrincipal;
    
    h4 {
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 2rem;
        font-size: 1.5rem;
        color: white;
      }
    .descripcionQS{
        margin: 0rem 1rem;
        p{
            text-align: justify;
            font-size: 1.2em;
            padding-right: 1rem;
            color: white;
            line-height: 1.5rem;
            margin-right: 3rem;
            font-family: $regular;
            
        }
        .logoSoftwares {
            width: 175px;
            max-height: 75px;
            background-color: white;
            margin: 2rem;
            padding: 1.5rem;
            border-radius: 15px;
        }
    }   
    
}
  

/***********************************/
/************Clientes***************/
/***********************************/
.colorClientes{
    background-color: white;
    #noPad{
        padding-bottom: 0%;
        margin-bottom: 0;
        padding-top: 4rem;
    }
}
.video {
    margin-top: 2rem;
   
}
.testimonios{  
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
     
    div{           
        p{
        text-align: left;
        padding-top: 12%;
        font-family: $regular;
        }
        .bordesImgClients{
            border-radius: 5%;
            width: 390%;
            border:2px solid $naranjaPrincipal;           
        }
    }    
}
/**************************************/
/****************Marcas****************/
/**************************************/
.grupoMarcas{        
    .marcas{
        border-radius: 5%;    
        border:2px solid $naranjaPrincipal;    
        padding-right: 0%;
        padding-left: 0%;
        h5{
            padding-top: 0rem;
        }
    }
}
/***************************************/
/*************Contacto******************/
/***************************************/
.contacto{
    color: white;
    background-color: $naranjaPrincipal;
    h4{
        padding-top: 5rem;
    }
    .formulario{   
        h6{
            color: white;
            font-size: 110%;
            font-family: $medium;
            text-align: center;
            
            margin-bottom: 1rem;
        }
        p{
            color: white;
            font-family: $light;
            line-height: 2.1rem;
            margin-top: 1rem;
            
            text-align: center;
        }  
        .carta{
            padding-left: 4rem;
        }
        .row{
            padding: 0rem 1rem;
            --bs-gutter-x: 0rem; 
        }
            
        input{
            border: $naranjaPrincipal;            
        }
        textarea{
            border: $naranjaPrincipal;
            height: 10rem;
            }
        button{
            
            
            margin: 2em 0rem;
              
            }
        }
}

/*************************************/     
/*************Footer******************/
/*************************************/
footer{
    background-color: $footerBackGround;    
    padding-top: 1%;
    padding-bottom: 2%;
    .grid1{
        .contenedorLogo{                        
            margin-bottom: 5%;  
        }        
        h6{
            padding-top: 5%;
            color: white;
            font-family: $medium;
        }    
    }
}
#noMarg{
    padding-left: 0%;
}
#navFooter{
    padding-left: 0%;
}
.grid2{
    display: flex;
    flex-direction: column;    
    align-items: center;
    .footerNav{
        text-decoration: none;
        font-family:´rubik-regular´;
        color: white;
        li{
            padding-top: 1%;
            list-style: none; 
            padding-bottom: 2%;
        }
        li:hover{
            color: $naranjaPrincipal
        }     
    }   
}

.grid3{
    p{
    color: white;
    font-family:´rubik-regular´;
    font-weight: bold;
    }
    
    li{
    font-family:´rubik-regular´;
    color: white;
    list-style: none;
    padding-top: 1%;
    }
    img{
        width: 10%;
        margin-right: 3%;
        margin-top: 1%;
        border-radius: 15%; 
        box-shadow: 0px 3px 3px rgb(27, 27, 27);      
    }
    img:hover{
        transform: scale(110%);
        transition: 0.5s;
        box-shadow: 0px 3px 3px rgb(27, 27, 27);
    }    
}
.licencia{
    color: white;
    font-family:´rubik-regular´;
}

/*****************************************/
/**************Mediaqueries***************/
/*****************************************/

@media only screen and (max-width: 992px) {
    /***********header************/
    .botonMediaScreen{
        display: none;
    }
    /******carril central********/
    .colorColumnCentral{
        width: 90%;
    }
    /********Quienes somos***********/
    .margenParrafoVideo {
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 1%;
        padding-left: 1%; 
        font-family: $regular;       
       } 
    /********footer*****************/    
    .grid1{
        display: flex;
        align-items: center;     
    } 
    /*******funcionalidades*********/
    .boxFuncionalidad{
        .cardFunc{
            height: auto;
            text-align: center;
            .imgFuncionalidad{
                width: 35%;
            }
            .textoVentajas{
                h5{
                    text-align: center;
                }
                ul{
                    
                    li{
                        justify-content: center;
                        text-align: justify;
                        img{
                            text-align: center;
                        }
                    }
                }
                
            }
        }

    }    
    #displayInverse{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        .posicionTexto{
            text-align: center !important;
            align-self: center;
            .checkList{
                padding-left: 0%;
                padding-right: 5%;
            }
        }
         .textoVentajas li{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center !important;
        }
    }
    #quienesSomos{
        .boxImgRowe {
            text-align: center;
            .imgRowe {
                width: 50%;
                justify-content: center;
            }
        }
        p{
            margin-right: 0 !important;
        }
        .softwares {
            text-align: center;
            
        }
    }
    .boxContacto {
        margin: 0 !important;
    }
    #footer {
        .contenedorLogo{
            a{
                img{
                    width: 150px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .testimonios{
        div{
            width: 100%;
            padding-top: 2%;
            .cuadro{
                display: flex;
                justify-content: center;
            }
            .bordesImgClients{
                width: 70%;               
            }
            p{
                padding-top: 5%;
                padding-right: 5%;
                padding-left: 5%;
            }
        }        
    }
    .marcas{
        margin-bottom: 5%;
    }
    .form input, .form textarea{
        width: 85%;
    }  
    .cardFunc{
        width: 90%;
    } 
    .boxContacto {
        text-align: center;
        img{
            padding-left: 0 !important;
        }
    }
}
@media only screen and (max-width: 576px){
    .logoMediaScreen{
        margin-bottom: 5%;
    }
     /******carril central********/
     .colorColumnCentral{
        width: auto;
    }
    .cardFunc{
        width: 90%;
    } 
    /* quienes somos*/
    #quienesSomos {
        .softwares{
            a{
                margin: -0.5rem
            }
        }
        .boxImgRowe{
            margin-top: 1rem;
        }
    }


    /*footer*/
    #footer{
        text-align: center;
        .grid1{
            justify-content: center;
        }
    }
}