*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h4{
    text-align: center;
    margin: 2rem 0 !important;
}
.asd{
    padding-top: 3rem;
}
h5{
    text-align: center;
}
.listControl{
    
}
footer {
    margin: 2rem;
    background-color: gray;
    
}
#queHacemos, #ventajas, #caracteristicas, #quienesSomos {
    padding-top: 2.5rem;
}
.iconoWA {
   font-size: 1.5rem;
   color: green;


}
.imgslide {
    height: 100%;
}
.funcbox{
    background-color: gray;
}


.cards1 { 
    opacity: 100% ;
    z-index: 100;
    position: relative;
}
.ventajas {
    background-color:rgb(255, 117, 5) ;
}